
.sec {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 850px;
  color: #073642;
}

.sechighlight {
  background-color: #fdf6e3;
  color: #586e75;
}

td { min-width: 200px; }